createSpreadsheet.json
{
  "name": "createSpreadsheet",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "<REDACTED_DOC_ID>",
          "mode": "list",
          "cachedResultName": "ExpenseTracking",
          "cachedResultUrl": "<REDACTED_URL>"
        },
        "title": "={{ $json.Title }}",
        "options": {}
      },
      "id": "<REDACTED_ID>",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [224, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<REDACTED_CREDENTIAL_ID>",
          "name": "<REDACTED_CREDENTIAL_NAME>"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Google Sheets').item.json[\"spreadsheetId\"] }}/values/{{ $('When Executed by Another Workflow').item.json.Title }}!A:Z",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "valueInputOption", "value": "RAW" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "range", "value": "={{ $('When Executed by Another Workflow').item.json.Title }}!A:Z" },
            { "name": "values", "value": "={{ [$json.headers] }}" }
          ]
        },
        "options": {}
      },
      "id": "<REDACTED_ID>",
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [672, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<REDACTED_CREDENTIAL_ID>",
          "name": "<REDACTED_CREDENTIAL_NAME>"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "headers", "value": "={{ $('When Executed by Another Workflow').item.json.ColumnNames }}" }
          ]
        },
        "options": {}
      },
      "id": "<REDACTED_ID>",
      "name": "Define headers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [448, 0]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "Title" },
            { "name": "ColumnNames", "type": "array" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "<REDACTED_ID>",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets": {
      "main": [[{ "node": "Define headers", "type": "main", "index": 0 }]]
    },
    "Define headers": {
      "main": [[{ "node": "Update Google Sheet", "type": "main", "index": 0 }]]
    },
    "When Executed by Another Workflow": {
      "main": [[{ "node": "Google Sheets", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "<REDACTED_VERSION_ID>",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "<REDACTED_INSTANCE_ID>"
  },
  "id": "<REDACTED_WORKFLOW_ID>",
  "tags": []
}
