Expense_Tracker.json
{
  "name": "Expense_Tracker",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text ?? $json.content ?? $('Transcribe').item.json.text }}",
        "options": {
          "systemMessage": "=### \ud83e\uddfe Role: Expense Tracking Assistant + Friendly Chatbot\n\nYou are an Expense Tracking Assistant with a fun and engaging personality. Your primary role is to help users record their daily expenses and generate insightful reports, while also keeping the conversation light, friendly, and enjoyable.\n\n---\n\n### \ud83c\udfaf Core Responsibilities\n\n#### 1. Expense Recording\n\nIf the user shares expenses (e.g., \"Apples 300\" or \"Tea 100, Burger 250\"), do the following:\n\n* Step 1: Understand the message. If it's unclear, ask the user to resend it in a clearer format.\n\n* Step 2: Translate the input into English if it's in Tamil (e.g., from {{ $json.text }}).\n\n* Step 3: Confirm the extracted items, date, category, sub-category, and amount with the user. Example:\n\n  > Got it! You spent 300 on Apples today (Category: Groceries, Sub-category: Fruits). Shall I save this?\n\n* Step 4: If the user agrees, call dataEntryTool, passing the expense details as an array:\n\n  ['Apples 300', 'Mangoes 250']\n\n  In case there's a single input then make it as a single element array:\n  Example input: Fried Rice 200 \u2192 ['Fried Rice 200']\n\n  Always ensure that the output is passed as an array.\n\n* Step 5: If the user wants to make changes, help them edit and reconfirm before proceeding.\n\n* Step 6: Once the user has made the changes, call the dataEntryTool to update the database.\n\n---\n\n#### 2. Expense Report Generation\n\nIf the user asks for a report (e.g., \"Show me my weekly expenses\" or \"How much did I spend on food last month?\"):\n\n* Call the dataAnalysisTool by passing the userText as an input.\n\n* Also let the user know that their report/answer is being compiled and will be available soon.\n\n---\n\n#### 3. User Preferences and Personal Info\n\nWhen the user refers to something personal (e.g., \"What is my name?\",or \"Give me a recipe for my favourite food\"):\n\n* Access the document by calling the getPreferences tool. This document consists of all the personal preferences of the user. \n\n* If you don't find any relevant information in the document, ask the user what it is and record the new information using the updatePreferences tool.\n\n* Automatically detect and update any personal info or pereference that the user may provide.\n\n#### 4. Managing Calendar\n\n* Any requests regarding the calendar events will be handled by the calendarAgent tool.\n\n* The arguments for this tool will be today's date and the user's request.\n\n---\n\n### \ud83e\udde0 Additional Guidelines\n\n* If the user message is unclear, politely ask them to rephrase it.\n* Always be friendly, helpful, and natural. Use humor, emojis, or personal touches to keep the experience warm and delightful.\n* Today's date is: {{ $today }}\n* Your memory allows you to recall previous messages\u2014use it wisely when confirming or referencing past entries.\n* No need to highlight or bold anything. You can use emojis to make the responses more engaging.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1984,
        240
      ],
      "id": "<REDACTED>",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "<REDACTED>",
          "mode": "list",
          "cachedResultName": "Data_Entry"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $today }}",
            "UserText": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('UserText', ``, 'string') }}",
            "ChatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "<REDACTED>",
              "displayName": "UserText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "ChatID",
              "displayName": "ChatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1728,
        544
      ],
      "id": "<REDACTED>",
      "name": "dataEntryTool"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "<REDACTED>",
          "mode": "list",
          "cachedResultName": "Data_Analysis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ChatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "userRequest": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('userRequest', ``, 'string') }}"
          },
          "matchingColumns": [
            "<REDACTED>"
          ],
          "schema": [
            {
              "id": "ChatID",
              "displayName": "ChatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "<REDACTED>",
              "displayName": "userRequest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1888,
        544
      ],
      "id": "<REDACTED>",
      "name": "dataAnalysisTool"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "<REDACTED>"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "<REDACTED>",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "<REDACTED>",
                    "leftValue": "={{ $json.message.document.thumbnail.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "<REDACTED>",
                    "leftValue": "={{ $json.message.sticker.set_name }}",
                    "rightValue": "Sticker",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sticker"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        240,
        240
      ],
      "id": "<REDACTED>",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1040,
        64
      ],
      "id": "<REDACTED>",
      "name": "Transcribe",
      "credentials": {
        "openAiApi": {
          "id": "<REDACTED>",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1568,
        544
      ],
      "id": "<REDACTED>",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "o3-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        2208,
        1024
      ],
      "id": "<REDACTED>",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "<REDACTED>",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2912,
        112
      ],
      "id": "<REDACTED>",
      "name": "sendMessage",
      "webhookId": "<REDACTED>",
      "credentials": {
        "telegramApi": {
          "id": "<REDACTED>",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.error }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2912,
        368
      ],
      "id": "<REDACTED>",
      "name": "sendError",
      "webhookId": "<REDACTED>",
      "credentials": {
        "telegramApi": {
          "id": "<REDACTED>",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        64
      ],
      "id": "<REDACTED>",
      "name": "audioDownload",
      "webhookId": "<REDACTED>",
      "credentials": {
        "telegramApi": {
          "id": "<REDACTED>",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.thumbnail.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        368
      ],
      "id": "<REDACTED>",
      "name": "imageDownload",
      "webhookId": "<REDACTED>",
      "credentials": {
        "telegramApi": {
          "id": "<REDACTED>",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "<REDACTED>",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Extract the products and prices.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1104,
        368
      ],
      "id": "<REDACTED>",
      "name": "analyzeImage",
      "credentials": {
        "openAiApi": {
          "id": "<REDACTED>",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "resize",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        912,
        368
      ],
      "id": "<REDACTED>",
      "name": "convertImage"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1008,
        608
      ],
      "id": "<REDACTED>",
      "name": "Limit"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "<REDACTED>",
          "mode": "list",
          "cachedResultName": "ExpenseTracking",
          "cachedResultUrl": "<REDACTED_URL>"
        },
        "sheetName": {
          "__rl": true,
          "value": 510621147,
          "mode": "list",
          "cachedResultName": "Stickers",
          "cachedResultUrl": "<REDACTED_URL>"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        704,
        608
      ],
      "id": "<REDACTED>",
      "name": "fetchStickerList",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<REDACTED>",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "type": "random"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        864,
        608
      ],
      "id": "<REDACTED>",
      "name": "Randomize"
    },
    {
      "parameters": {
        "operation": "sendSticker",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        608
      ],
      "id": "<REDACTED>",
      "name": "sendSticker",
      "webhookId": "<REDACTED>",
      "credentials": {
        "telegramApi": {
          "id": "<REDACTED>",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Expense Tracker",
        "height": 100,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "<REDACTED>",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        2144,
        544
      ],
      "id": "<REDACTED>",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "<REDACTED>",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "<REDACTED>"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        2288,
        544
      ],
      "id": "<REDACTED>",
      "name": "getPreferences",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "<REDACTED>",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "<REDACTED>",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "locationChoice": "location",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        2464,
        544
      ],
      "id": "<REDACTED>",
      "name": "updatePreferences",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "<REDACTED>",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        2032,
        544
      ],
      "id": "<REDACTED>",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2624,
        544
      ],
      "id": "<REDACTED>",
      "name": "Calculator"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "<REDACTED>",
          "mode": "list",
          "cachedResultName": "calendarAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userText": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('userText', ``, 'string') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "<REDACTED>",
              "displayName": "userText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2768,
        544
      ],
      "id": "<REDACTED>",
      "name": "calendarAgent"
    },
    {
      "parameters": {
        "updates": [
          "<REDACTED>"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        272
      ],
      "id": "<REDACTED>",
      "name": "Telegram Trigger",
      "webhookId": "<REDACTED>",
      "credentials": {
        "telegramApi": {
          "id": "<REDACTED>",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1408,
        544
      ],
      "id": "<REDACTED>",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "<REDACTED>",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "dataEntryTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "dataAnalysisTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "sendMessage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sendError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "audioDownload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "imageDownload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fetchStickerList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "audioDownload": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "imageDownload": {
      "main": [
        [
          {
            "node": "convertImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analyzeImage": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convertImage": {
      "main": [
        [
          {
            "node": "analyzeImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "sendSticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetchStickerList": {
      "main": [
        [
          {
            "node": "Randomize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Randomize": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getPreferences": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "updatePreferences": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calendarAgent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c90b7bb2-e5c0-4e5d-aee3-59a5cdb867ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d608620218d5109f687c7085c29c921f05c1270d752e35950dfb55c26e36ff4"
  },
  "id": "<REDACTED>",
  "tags": []
}
